body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

h1 {
    color: #000000;
}

ul {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
}

li {
    list-style-type: square;
}
